*.pdf
*.gz
*.out
*.aux
*.log
.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*download*
.DS_Store
**/.DS_Store
**/.Rapp.history
**/.Rhistory
**/*trash*/real-data-application/data.Rdata
real-data-application/.Rapp.history
real-data-application/real-data-application.Rproj
real-data-application/FSD/estimation.Rdata
real-data-application/FSD/estimation_v2.Rdata
Simulations/trash
Simulations/trash
Simulations/Simulations.Rproj
Simulations/Simulations.Rproj
Simulations/Simulations.Rproj
Simulations/.gitignore
**/*trash*/
**/*test*/
